# Archivos generados por pdflatex
*.aux
*.bcf
*.log
*.nav
*.out
*.snm
*.toc
*.pdf
.run.
*.bbl
*.blg
*.dvi
.sync
*.lof
*.lot
*.gz

# Archivos generados por Quartus

*.bak
*.bak1
*.bak2
*.bak3
*.bak4
*.bak5
*.bak6
*.bak7
*.bak8
*.bak9
*.bak10
*.rpt
*.qsf
*.qws
*.vho
*.sft
*.sdo

# Archivos generados por htlatex
*.svg
*.html
*.css
*.xref
*.idv
*.lg
*.tmp
*.4tc
*.4ct
.fuse
